<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'/>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
  <link rel="icon" href="images/favicon.ico" />
  <link rel="me" href="https://plus.google.com/102619660127444923947" />
  <link rel="publisher" href="https://plus.google.com/102619660127444923947" />
  <meta content="Blog sur le front-end developpement et la cuisine" name="description" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Code &amp; Cuisine by EpokK</title>
  </head>

  <body ng-app="myApp">
    <header>
      <div class="inner">
        <h1>Code &amp; Cuisine</h1>
      </div>
      <a href="https://github.com/EpokK" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    </header>

    <div id="content-wrapper" ng-controller="myCtrl">
      <div class="inner clearfix">
        <section id="main-content">
          <div ng-repeat="article in articles" ng-init="article.show=false">
            <h2 ng-click="article.show=!article.show"><span ng-bind="article.title"></span> <i ng-class="{'icon-collapse-top': article.show==false, 'icon-collapse': article.show==true}"></i></h2>
            <article ng-show="article.show==true">
              <div ng-include="" src="article.url"></div>
            </article>
          </div>
        </section>

        <aside id="sidebar">
          <div><a style="font-size: 24px;" target="_blank" href="https://twitter.com/_PandaJS"><i class="icon-twitter"></i> Follow me</a></div>
          <div><a style="font-size: 24px;" target="_blank" href="https://github.com/EpokK"><i class="icon-github-sign"></i> Fork me</a></div>
          <div><a style="font-size: 24px;" target="_blank" href="https://gist.github.com/EpokK"><i class="icon-github"></i> Gist me</a></div>
          <div><a style="font-size: 24px;" target="_blank" href="http://stackoverflow.com/users/1875004/epokk"><i class="icon-stackexchange"></i> Help me</a></div>
          <hr />
          <p><strong>Qui suis-je ?</strong></p>
          <div><img style="border-radius: 5px;border: 5px solid #CCC;margin: 10px auto;display: block;" src="images/panda.png" alt="Panda"></div>
          <p>Front End Developer @infomaniak - Fan de #HTML5, #CSS3, @AngularJS, @BackboneJS, #ResponsiveDesign, @yeoman et autres technos bien cools. "Hardcore devlopper / cooker", constamment en recherche de connaissances sur le d&eacute;veloppement web et d&eacute;couvertes culinaires. J'aime ce qui est ordonn&eacute; et bien fait / pens&eacute;, j'appr&eacute;cie egalement les choses limites / restrictives car je consid&egrave;re que les meilleurs projets sont souvent les plus simples.</p>
          <p><strong>Pour qui et pourquoi ce blog ?</strong></p>
          <p>Si tu en as marre de cette soci&eacute;t&eacute; de mou du genou,</p>
          <ul>
            <li>Qui pense &agrave; facilit&eacute; et vacation.</li>
            <li>Qui ach&egrave;te des surgel&eacute;s et qui r&eacute;p&egrave;te &agrave; longueur de journ&eacute;e "Je suis stress&eacute;, j'ai pas le temps".</li>
            <li>Qui se laisse bercer par les m&eacute;dias et autres idioties.</li>
            <li>Qui regarde son nombril et ne se remet jamais en question.</li>
          </ul>
          <p>Ce blog est fait pour toi !</p>
          <p>J'&eacute;cris ce blog pour partager mes d&eacute;couvertes et connaissances que ce soit en programmation ou en cuisine et tout ce que je trouve int&eacute;ressant. Je tape en QWERTY ce qui explique qu'il n'y est pas d'accent dans mes articles (sauf ceux rajout&eacute;s par <a href="http://www.twitter.com/netvision73">@netvision73</a>). Tous commentaires doit se faire par <a href="https://github.com/EpokK/epokk.github.io" target="_blank">le projet Github</a> lui m&ecirc;me, en faisant des <i>pull request</i>. Il est m&ecirc;me possible de corriger mes fautes d'orthographe si tu commences &agrave; avoir les yeux <span style="color: red;">rouges</span>.</p>
        </aside>
      </div>
    </div>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42577530-1', 'epokk.github.io');
      ga('send', 'pageview');

      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
