<div class="row">
	<h3>Box</h3>
	<div class="pull-right">
		<button class="btn btn-default btn-sm"><i class="icon-plus-sign"></i></button>
		<button class="btn btn-default btn-sm"><i class="icon-folder-close-alt"></i></button>
		<button class="btn btn-default btn-sm"><i class="icon-share"></i></button>
		<button class="btn btn-default btn-sm"><i class="icon-trash"></i></button>
		<input type="text" placeholder="Rechercher" />
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Nom <a href="">i.icon</a></th>
				<th>Type</th>
				<th>Modifie</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>