<link rel="stylesheet" type="text/css" href="stylesheets/cv.css">

<div class="row">
	<div class="col-md-3">
		<h2>Richard Tetaz</h2>
	</div>
	<div class="col-md-3 border-left">
		<div>Front-end web developer <a href="http://www.infomaniak.com" target="_blank">@Infomaniak</a></div>
		<p><span ng-bind="age"></span> ans</p>
	</div>
	<div class="col-md-3 border-left">
		<div><i class="text-muted icon-map-marker"></i> Annecy - Geneve</div>
		<div><i class="text-muted icon-envelope"></i> <a href="mailto:richard.tetaz@gmail.com">richard.tetaz@gmail.com</a></div>
		<div><a href="https://twitter.com/richard_tetaz" target="_blank"><i class="text-muted icon-twitter"></i> @richard_tetaz</a></div>
	</div>
	<div class="col-md-3 border-left">
		<a href="http://codecuisine.io" target="_blank">codecuisine.io</a>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<fieldset>
			<legend>PERSONAL STATEMENT</legend>
			<p>Membre actif de la communauté digitale, j'aime les challenges techniques. Ma passion: développer des front offices en intégrant les meilleures pratiques. J'aime ce qui est "beau", je sais critiquer un design et je sais aussi l'améliorer. Je suis obsédé par le detail.  On me dit rigoureux, organise et proactif.</p>
			<p>Le web est mon terrain de jeu et j'adore créer des interfaces utilisateur intuitives qui prennent l'expérience utilisateur comme priorité absolue. Le responsive design et les frameworks tels que Twitter Bootstrap sont mes armes favorites pour créer des applications web interactives, élégantes sur tous supports.</p>
			<p>Curieux et responsable, je n'hésite pas à me remettre en question afin d'améliorer la qualité de mon travail. Je veille ainsi les dernieres évolutions et framework JS (#AngularJS, #EmberJS, #BackboneJS, #Meteor).</p>
		</fieldset>

		<fieldset>
			<legend>SKILLS</legend>
			<ul class="list-unstyled">
				<li>Librairies JQuery, PrototypeJS <span class="pull-right"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></li>
				<li>AngularJS, Backbone, NodeJS, Grunt, Gulp <span class="pull-right"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></li>
				<li>htmlboilerplate, Bootstrap, Foundation, Modernizr <span class="pull-right"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></li>
				<li>CSS3, Less, Sass <span class="pull-right"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></li>
				<li>Gestion de projet, Scrum, Kanban <span class="pull-right"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i></span></li>
				<li>PHP, Laravel 4, Codeigniter <span class="pull-right"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-half-empty"></i><i class="icon-star-empty"></i></span></li>
				<li>Android, PhoneGap, Cordova <span class="pull-right"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span></li>
				<li>Recrutement pour Developpement et Webdesign <span class="pull-right"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i></span></li>
			</ul>
		</fieldset>

		<fieldset>
			<legend>LANGUAGE SKILLS</legend>
			<div class="circle">
				<div>Francais</div>
				<div class="text-muted">Maternelle</div>
			</div>
			<div class="circle">
				<div>Anglais</div>
				<div class="text-muted">Technique</div>
			</div>
			<div class="circle">
				<div>Allemand</div>
				<div class="text-muted">Notions</div>
			</div>
			<div class="circle">
				<div>Chinois</div>
				<div class="text-muted">Notions</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>HOBBIES &amp; INTERETS</legend>
			<span class="circle">
				<div><i class="text-muted icon-film"></i></div>
				<div>Cinema</div>
			</span>
			<span class="circle">
				<div><i class="text-muted icon-food"></i></div>
				<div>Cuisine</div>
			</span>
			<span class="circle">
				<div><i class="text-muted icon-asterisk"></i></div>
				<div>Ski</div>
			</span>
			<span class="circle">
				<div><i class="text-muted icon-headphones"></i></div>
				<div>Electro</div>
			</span>
			<span class="circle">
				<div><i class="text-muted icon-keyboard"></i></div>
				<div>Clavier</div>
			</span>
			<span class="circle">
				<div><i class="text-muted icon-desktop"></i></div>
				<div>Design</div>
			</span>
			<span class="circle">
				<div><i class="text-muted icon-smile"></i></div>
				<div>Humour</div>
			</span>
			<span class="circle">
				<div><i class="text-muted icon-comments-alt"></i></div>
				<div>Echanger</div>
			</span>
			<span class="circle">
				<div><i class="text-muted icon-gamepad"></i></div>
				<div>Jeux</div>
			</span>
		</fieldset>
	</div>

	<div class="col-md-6">
		<fieldset>
			<legend>EDUCATION</legend>
			<ul class="list-group" style="margin-left: 0;">
				<li class="list-group-item">
					<p><span class="text-muted">2009 - 2011</span> Master Reseaux &amp; Telecommunications - Universite de Savoie Chambery</p>
					<p class="details">Réseaux GSM, Routage ATM/MPLS, Réseaux d'opérateurs, Supervision des réseaux, Création d'entreprises, WebServices</p>
				</li>
				<li class="list-group-item"><span class="text-muted">2008 - 2009</span> Licence Reseaux &amp; Telecommunications - Universite de Savoie Chambery</li>
				<li class="list-group-item"><span class="text-muted">2006 - 2008</span> DUT Reseaux &amp; Telecommunications - Universite de Savoie Annecy</li>
				<li class="list-group-item"><span class="text-muted">2003 - 2006</span> Bac STI Electronique - Lycee Rene Perrin - Ugine</li>
			</ul>
		</fieldset>

		<fieldset>
			<legend>WORK EXPERIENCE</legend>
			<ul class="list-group" style="margin-left: 0;">
				<li class="list-group-item">
					<p><span class="text-muted">2011 - Present</span> Infomaniak Network - Carouge, Geneve</p>
					<p class="details">Réalisation du front office Workspace (html, css, javascript). Modèle MV* d'AngularJS. Développement Javascript de canaux de communication avec un back-en PHP (REST, JSON). Tests automatisés Javascript (Jasmine, Karma). Git-flow.</p>
					<p class="details">Je m'occupe également des ressources humaines pour le plateau développement et webdesigners.</p>
				</li>
				<li class="list-group-item">
					<p><span class="text-muted">2009</span> ETDE Bouygues - Le Bourget du Lac</p>
					<p class="details">Chargé de mission en bureau d'étude pour le projet Autoroute &amp; Tunnel du Mont Blanc : extension et refonte d’un système de vidéosurveillance par fibre optique. Planification du chantier et mise sur plan des differentes infrastructures de telecommunications.</p>
				</li>

				<li class="list-group-item"><span class="text-muted">2008</span> Myosotis Informatique - Albertville</li>
			</ul>
		</fieldset>
	</div>
</div>