<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../stylesheets/login.css" media="screen" />


<div class="login">
	<div class="onglets">
		<div class="onglet">
			SIGN IN
		</div>
		<div class="onglet active">
			SIGN UP
		</div>
	</div>
	<div class="ligne">
		<input placeholder="email" type="email" />
		<span class="icon"><i class="icon-envelope"></i></span>
	</div>
	<div class="ligne">
		<input placeholder="password" type="password" />
		<span class="icon"><i class="icon-key"></i></span>
	</div>
	<div class="ligne">
		<input placeholder="retype password" type="password" />
		<span class="icon"><i class="icon-key"></i></span>
	</div>
	<div class="ligne">
		<input placeholder="nickname" type="text" />
		<span class="icon"><i class="icon-user"></i></span>
	</div>
	<div class="ligne">
		<input type="checkbox" />
	</div>
	<div class="ligne center">
		<button>Sign up</button>
	</div>
</div>