<div class="well">
	<fieldset>
		<legend>Se connecter <small>ou <a href="">creer un compte</a></small></legend>
		<form role="form">
			<div class="input-group input-group-lg form-group">
				<span class="input-group-addon"><i class="icon-user"></i></span>
				<input class="form-control" type="text" placeholder="E-mail" />
			</div>
			<div class="input-group input-group-lg form-group">
				<span class="input-group-addon"><i class="icon-lock"></i></span>
				<input class="form-control" type="password" placeholder="Mot de passe" />
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" /> Memoriser
				</label>
				<button type="submit" class="btn btn-primary pull-right">Se connecter</button>
			</div>
			<small><a href="">Mot de passe oublie ?</a></small>
		</form>
	</fieldset>
</div>