<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../stylesheets/login.css" media="screen" />


<div class="login">
	<div class="onglets">
		<div class="onglet">
			SIGN IN
		</div>
		<div class="onglet active">
			SIGN UP
		</div>
	</div>
	<form name="register">
		<div class="ligne">
			<input required="" name="email" ng-model="email" placeholder="email" type="email" />
			<span class="icon"><i ng-class="{'icon-envelope': register.email.$valid, 'icon-envelope-alt': !register.email.$valid}"></i></span>
		</div>
		<div class="ligne">
			<input required="" placeholder="password" id="password" type="password" ng-model="password" />
			<span class="icon"><i ng-class="{'icon-lock': (password == password2) &amp;&amp; (password), 'icon-unlock': password != password2}"></i></span>
			<div password-meter="" password="password"></div>
		</div>
		<div class="ligne">
			<input required="" placeholder="retype password" type="password" ng-model="password2" />
			<span class="icon"><i ng-class="{'icon-lock': password == password2, 'icon-unlock': password != password2}"></i></span>
		</div>
		<div class="ligne">
			<input required="" placeholder="nickname" type="text" />
			<span class="icon"><i class="icon-user"></i></span>
		</div>
		<div class="ligne" style="line-height: 35px;">
			<label for="">
				<input type="checkbox" style="margin-right: 10px;" /> I have read and agree to the <a href="#">User Licence Agreement</a>
			</label>
		</div>
		<div class="ligne center">
			<button>Sign up</button>
		</div>
	</form>
</div>