<div class="row" ng-init="highlight">
    <h3>Question 1</h3>
    <p>Comment fais-tu pour creer une variable `x` contenant la chaine de caractere "Infomaniak" ?</p>
    <input type="text"/>
	<p>Quel est le resultat de ce qui suit ?</p>
	<pre><code class="javascript">
function foo()
{
	alert(x);
	var x = 10;
}
foo();
	</code></pre>
    <input type="text"/>
    <h3>Question 1</h3>
	<p>Quel est le resultat de ce qui suit ?</p>
	<pre><code class="javascript">
(function(){
    return typeof arguments;
})();
	</code></pre>
    <input type="text"/>
    <h3>Question 1</h3>
    <p>Quel est le resultat de ce qui suit ?</p>
    <pre><code>
function foo()
{
    for (var i = 0; i < 5; i++)
    {
        alert(i);
    }
    alert(i);
}
foo();
    </code></pre>
    <input type="text"/>
    <h3>Question 1</h3>
    <p>Quel est le resultat de ce qui suit ?</p>
    <pre><code>
var f = function g(){ return 23; };
typeof g();
    </code></pre>
    <input type="text"/>
</div>