<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles">
                <td>
                    <span ng-bind="article.name"></span>
                </td>
                <td>
                    <input type="number" ng-model="article.quantity"/>
                </td>
                <td>
                    <span ng-bind="article.price"></span>
                </td>
                <td>
                    <span ng-bind="Math.floor(article.price * article.quantity)"></span>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="removeArticle(article)">
                        <i class="icon-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <span style="font-weight: bold;" ng-bind="total()"></span>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>