<div class="row">
    <h3>Votre panier</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Article</th>
                <th>Prix</th>
                <th>Quantite</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles">
                <td>
                    <button class="btn btn-default" ng-click="removeArticle(article)">
                        <i class="icon-trash"></i>
                    </button>
                </td>
                <td>
                    <span ng-bind="article.name"></span>
                </td>
                <td>
                    <span ng-bind="totalArticle(article)"></span>
                </td>
                <td>
                    <input style="width: 35px;" type="number" ng-model="article.quantity"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="pull-right">
                    <strong>Total articles :</strong>
                </td>
                <td>
                    <strong><span ng-bind="total()"></span></strong>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>