<div class="row">
    <h3>Votre panier</h3>
    <div class="col-xs-12 col-md-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 40px;"></th>
                <th>Article</th>
                <th>Prix</th>
                <th>Quantite</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="article in articles">
                <td>
                    <button class="btn btn-default" ng-click="removeArticle(article)">
                        <i class="icon-trash"></i>
                    </button>
                </td>
                <td>
                    <span ng-bind="article.name"></span>
                </td>
                <td>
                    <span ng-bind="totalArticle(article)"></span>
                </td>
                <td>
                    <input style="width: 35px;" min="0" type="number" ng-model="article.quantity"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="pull-right">
                    <strong>Total articles :</strong>
                </td>
                <td>
                    <strong><span ng-bind="total()"></span></strong>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="well pull-left">
            <p class="text-center"><strong><span ng-bind="quantity()"></span> <span ng-show="total() < 2">article</span><span ng-show="total() >= 2">articles</span></strong></p>
            <p class="text-center"><strong><span ng-bind="total()"></span> EUR</strong></p>
            <button class="btn btn-primary">Passer la commande <i class="icon-arrow-right"></i></button>
        </div>
    </div>
</div>
