<h1>
    <span>Liste de course</span>
	<span class="pull-right">
		<span ng-bind="dones()"></span> / <span ng-bind="tasks.length"></span>
	</span>
</h1>

<form class="well" ng-submit="addTask()">
    <div class="controls input-group">
        <input type="text" placeholder="Ajouter un produit ..." class="form-control input-lg" ng-model="newTask"/>
		<span class="input-group-btn">
			<button type="submit" class="btn btn-primary btn-lg">
                <i class="icon-plus"></i>
            </button>
		</span>
    </div>
</form>

<div>
    <div class="btn-group btn-group-lg" style="margin-bottom: 20px;">
        <button type="button" class="btn btn-default" ng-click="sort='title';reverse=!reverse">abc</button>
        <button type="button" class="btn btn-default" ng-click="sort='category';reverse=!reverse"><i class="icon-circle text-success"></i><i class="icon-circle text-warning"></i><i class="icon-circle text-danger"></i></button>
        <button type="button" class="btn btn-default" ng-click="sort='favorite';reverse=!reverse"><i class="icon-star text-warning"></i></button>
        <button type="button" class="btn btn-default" ng-click="sort='date';reverse=!reverse"><i class="icon-time"></i></button>
    </div>

    <div class="input-group col-lg-4 input-group-lg pull-right">
        <span class="input-group-addon"><i class="icon-search"></i></span>
        <input type="search" ng-model="search" class="form-control input-lg" placeholder="Rechercher ...">
    </div>
</div>

<div ui-sortable ng-model="tasks" class="well" style="font-size: 25px;">
    <div ng-repeat="task in tasks | filter:search | orderBy:sort:reverse">
        <a ng-click="task.done = !task.done">
            <i ng-class="{'icon-check': task.done, 'icon-check-empty': !task.done}"></i>
        </a>
        <i class="icon-star text-warning" ng-click="task.favorite=false" ng-show="task.favorite"></i>
        <i class="icon-star-empty text-warning" ng-click="task.favorite=true" ng-hide="task.favorite"></i>
        <span ng-bind="task.title" ng-hide="task.edit" ng-click="task.edit=true"></span>
        <input type="text" ng-show="task.edit" ui-event="{ blur: 'onBlur($index)'}" ng-model="task.title" />
        <a ng-click="removeTask($index)" class="pull-right">
            <i class="icon-trash"></i>
        </a>
    </div>
</div>