<p>Depuis quelques mois, j'ai la chance de travailler avec un framework JS que je trouve formidable. Il se nomme <strong>AngularJS</strong>. Je ne vais pas vous le pr&eacute;senter car bien d'autres sites l'ont d&eacute;ja fait. Si vous ne le connaissez pas encore je vous conseille vivement d'aller taper quelques lignes de code avec ce framework avant de lire la suite de cet article. Comme &ccedil;a apres, "t'es chaud" !</p>
<p>Ce que je souhaite partager, ce sont les <i>directives</i>. Une directive est un attribut, d'un &eacute;l&eacute;ment HTML, qui lui octroi des fonctionnalit&eacute;s suppl&eacute;mentaires : tel que lancer une action quand on clique sur celui-ci ou encore, r&eacute;p&eacute;ter cet element autant de fois qu'il y a d'objet dans un tableau associ&eacute;. AngularJS fourni d&eacute;ja un ensemble de directives pour effectuer la plupart des actions / interactions. Il s'enrichie au fur et &agrave; mesure des versions. Malgr&eacute; ce packetage, il faut parfois en &eacute;crire soi-m&ecirc;me. Et comme ce besoin peut &ecirc;tre r&eacute;current &agrave; travers vos projets, il est int&eacute;ressant de se cr&eacute;er une boite &agrave; directives.</p>
<p>Voici celles que j'utilise r&eacute;guli&egrave;rement :</p>
<ul ng-init="gist=1">
  <li><a href="" ng-click="gist=1">ng-focus</a></li>
  <li><a href="" ng-click="gist=2">ng-blur</a></li>
  <li><a href="" ng-click="gist=3">ng-rightClick</a></li>
  <li><a href="" ng-click="gist=4">ng-enter</a></li>
  <li><a href="" ng-click="gist=5">ng-initFocus</a></li>
  <li><a href="" ng-click="gist=6">ng-datePicker</a></li>
  <li><a href="" ng-click="gist=7">ng-placeholder</a></li>
</ul>

<div ng-switch on="gist">
  <div ng-switch-when="1"><script src="https://gist.github.com/EpokK/6044633.js"></script></div>
  <div ng-switch-when="2"><script src="https://gist.github.com/EpokK/5787597.js"></script></div>
  <div ng-switch-when="3"><script src="https://gist.github.com/EpokK/6029276.js"></script></div>
  <div ng-switch-when="4"><script src="https://gist.github.com/EpokK/5884263.js"></script></div>
  <div ng-switch-when="5"><script src="https://gist.github.com/EpokK/5857181.js"></script></div>
  <div ng-switch-when="6"><script src="https://gist.github.com/EpokK/6038227.js"></script></div>
  <div ng-switch-when="7"><script src="https://gist.github.com/EpokK/5884029.js"></script></div>
</div>

<p>Si vous souhaitez en ajouter d'autres, fa&icirc;tes des <i>pull request</i> sur <a href="https://github.com/EpokK/epokk.github.io" target="_blank">ce projet</a>. J'enrichirai cet article par la suite.</p>